<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTACT | Dipesh Patil - Portfolio</title>
  <link rel="stylesheet" href="/css/contact.css">
  <script src="https://kit.fontawesome.com/ff14eec93e.js" crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <div class="title">CONTACT ME</div>
    <div class="title-info">Post Your Comments here if you like</div>

    <form action="/contact" method="POST" class="form">
      <div class="input-group">
        <input type="text" name="fullName" placeholder="Full name">
        <label for="fullName">Full name</label>
      </div>

      <div class="input-group">
        <input type="email" name="email" placeholder="Email">
        <label for="email">Email</label>
      </div>

      <div class="textarea-group">
        <textarea name="message" rows="5" placeholder="Message"></textarea>
        <label for="message">Message</label>
      </div>

      <div class="button-div">
        <button type="submit">Send</button>
      </div>
    </form>
  </main>

  <section class="footer">
    <ul>
      <li><a href="#"><i class="fab fa-github-square"></i>GitHub</a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
      <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
      <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
    </ul>
  </section>
</body>

</html>